<section class="admin-main-dashboard">
  <div class="row">
    <div class="xsmall-12 columns">
        <h1>Logged in as <%= current_user.username %></h1>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <!-- remove adding logo capabilities. this should be replaced with an assets link -->
    <!-- <div class="xsmall-12 small-6 columns">
      <%#= link_to "Add Logo", new_admin_logo_path(current_user) %>
    </div> -->
    <div class="xsmall-12 small-6 columns ">
      <p><%= link_to 'Resources', '' %></p>

      <!-- Include links to rest of the pages as well -->
      <% if current_user.username == "taha.jalil" %>
        <% @cities.each do |city| %>
          <p><%= link_to "Go to #{city.name}", dashboard_admin_city_path(current_user, city) %> | <%= link_to "Edit #{city.name}", edit_admin_city_path(current_user, city) %></p>
        <% end %>
      <% else %>
         <p><%= link_to "View/Add/Edit members/mentors/judges/sponsors of #{@city.name}", dashboard_admin_city_path(current_user, @city) %> | <%= link_to "Edit #{@city.name}", edit_admin_city_path(current_user, @city) %></p>
      <% end %>
    </div>
  </div>
</section>