<% if current_user.username == "taha.jalil" || @city.admin_id == current_user.id %>
  <%= form_for ([current_user, @city, @user]), :html => {:multipart => true} do |f| %>
    <% if @city.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @city.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "login-text-field" %>
    </div>

    <div class="field">
      <%= f.label :description, "Role" %><br>
      <%= f.text_area :description, class: "login-text-field" %>
    </div>

    <div class="field">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar, class: "file-field" %>
    </div>

    <div class="field radio-field">
      <%= f.label :type_of_user %><br>
      <% if current_user.username == "taha.jalil" %>
        <p>
          <%= f.radio_button(:type_of_user, "Leadership") %>
          <%= f.label(:type_of_user, "Leadership") %>
        </p>
        <p>
          <%= f.radio_button(:type_of_user, "Core Team Member") %>
          <%= f.label(:type_of_user, "Core Team Member") %>
        </p>
        <p>
          <%= f.radio_button(:type_of_user, "City Lead") %>
          <%= f.label(:type_of_user, "City Lead") %>
        </p>
      <% end %>
      <p>
        <%= f.radio_button(:type_of_user, "Team Member") %>
        <%= f.label(:type_of_user, "Team Member") %>
      </p>
      <p>
        <%= f.radio_button(:type_of_user, "Judge") %>
        <%= f.label(:type_of_user, "Judge") %>
      </p>
      <p>
        <%= f.radio_button(:type_of_user, "Mentor") %>
        <%= f.label(:type_of_user, "Mentor") %>
      </p>
      <p>
        <%= f.radio_button(:type_of_user, "Sponsor") %>
        <%= f.label(:type_of_user, "Sponsor") %>
      </p>
    </div>

    <div class="field">
      <%= f.label :twitter %><br>
      <%= f.text_field :twitter, class: "login-text-field" %>
    </div>

    <div class="field">
      <%= f.label :linkedin %><br>
      <%= f.text_field :linkedin, class: "login-text-field" %>
    </div>

    <%= f.hidden_field :city_id, value: @city.id %>

    <div class="action">
      <%= f.submit "Save", class: "button green" %>
    </div>

  <% end %>
<% else %>
  <h1>Sorry you do not have access to this page</h1>
<% end %>

<%= link_to "Back to #{@city.name}'s City Dashboard", dashboard_admin_city_path(current_user, @city), class: "button back-button white-red" %>