<% if current_user %>
  <div id="topnav-loggedin" class="fixed sticky">
    <ul class="sub-nav large-12 columns large-centered">
      <li style="margin-top:0.5rem">
        <%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:team), size: "40"), root_path %>
      </li>
      <%# if @city.name == "Toronto" %>
        <!-- <li class="topnav-titles"><a href="#cafe">CAFE</a></li> -->
      <%# end %>
      <li class="topnav-titles"><a href="#streams">STREAMS</a></li>
      <li class="topnav-titles"><a href="#location">LOCATION</a></li>
      <li class="topnav-titles"><a href="#schedule">SCHEDULE</a></li>
      <li class="topnav-titles"><a href="#team-to">TEAM <%= @city.name.upcase %></a></li>
      <li class="topnav-titles"><a href="#faq">FAQs</a></li>
      <li class="topnav-titles"><a href="#support">CONNECT</a></li>
      <li class="topnav-titles"><%= link_to 'Admin Dashboard', admin_path(current_user) %></li>
      <li class="topnav-titles"><%= link_to 'Logout', admin_session_path("current"), method: :delete %></li>
      <li style="float:right; margin-top: 0.30rem">
        <a href="<%= @city.eventbrite_page %>" target="_blank">
          <div class="registration-button button medium">
            <span>REGISTER</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
<% else %>
  <div class="fixed sticky topnav">
    <ul class="sub-nav large-12 columns large-centered">
      <li style="margin-top:0.5rem">
       <%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:logo), size: "40"), root_path %>
      </li>
      <%# if @city.name == "Toronto" %>
        <!-- <li class="topnav-titles"><a href="#cafe">CAFE</a></li> -->
      <%# end %>
      <li class="topnav-titles"><a href="#streams">STREAMS</a></li>
      <li class="topnav-titles"><a href="#location">LOCATION</a></li>
      <li class="topnav-titles"><a href="#schedule">SCHEDULE</a></li>
      <li class="topnav-titles"><a href="#team-to">TEAM <%= @city.name.upcase %></a></li>
      <li class="topnav-titles"><a href="#faq">FAQs</a></li>
      <li class="topnav-titles"><a href="#support">CONNECT</a></li>
      <li style="float:right; margin-top: 0.30rem">
        <a href="<%= @city.eventbrite_page %>" target="_blank">
          <div class="registration-button button medium">
            <span>REGISTER</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
<% end %>