<div>
  <% if @city.users.present? %>
    <% @city.users.each do |user| %>
      <% if user.type_of_user == "Team Member" %>
        <h3>Team Members</h3>
        <p><%= user.name %></p>
      <% elsif user.type_of_user == "Judge" %>
        <h3>Judges</h3>
        <p><%= user.name %></p>
      <% elsif user.type_of_user == "Mentor" %>
        <h3>Mentors</h3>
        <p><%= user.name %></p>
      <% elsif user.type_of_user == "Sponsor" %>
        <h3>Sponsors</h3>
        <p><%= user.name %></p>
      <% end %>
    <% end %>
  <% else %>
    <h5>No Team Members to display</h5>
  <% end %>
</div>

<p><%= link_to "Add Team Member/Judge/Mentor/Sponsor", new_admin_city_user_path(current_user, @city) %></p>