<div class="row">
  <div class="large-12 columns text-center">
    <h1><%= @city.name.upcase %></h1>
  </div>
  <div class="columns large-12">
    <% if @city.users.present? %>
      <% @city.users.each do |user| %>
          <p><%= image_tag user.avatar_url(:team) %><%= user.name %> (<%= user.type_of_user %>) | <%= link_to "Edit", edit_admin_city_user_path(current_user, @city, user) %></p>
      <% end %>
    <% else %>
      <h5>No Team Members to display</h5>
    <% end %>
    <p><%= link_to "Add Team Member/Judge/Mentor/Sponsor", new_admin_city_user_path(current_user, @city) %></p>
  </div>
</div>