<section id="cities-hero">
  <div class="row">
    <div class="columns xsmall-12 text-center">
      <h2 class="gamma">Jagah Jagah, Har Jagah. Wherever Pakistanis Live.</h2>
      <p class="punch text-center">We harness the brightest minds around the world to design, prototype and implement sustainable business models that have a significant impact in Pakistan and beyond. Click on your city below and become a part of this movement!</p>
    </div>
  </div>
</section>

<section class="cities-grid">
  <div class="row">
    <div class="columns xsmall-12">
      <% @cities.each do |city| %>

        <% if city.name != "Global" %>
          <div id="city-<%= city.slug %>" class="admin-city-panel column large-3 medium-3 small-6 xsmall-12 text-center" style="background-image: url(<%= city.hero_photo %>)">

            <% if city.eventbrite_page.present? %>
              <% if city.name == "Melbourne" || city.name == "Toronto" || city.name == "Boston" %>
                <a href="<%= city_path(city) %>">
              <% else %>
                <a href="<%= city.eventbrite_page %>">
              <% end %>
              
                <div class="v-wrapper">
                  <div class="v-inner">
                    <h4 class="delta"><%= city.name.upcase %></h4>
                  </div>
                </div>
                <span class="tag registration-open">Registration Open!</span>
              </a>
            <% else %>
              <a href="javascript:void(0)">
                <div class="v-wrapper">
                  <div class="v-inner">
                    <h4 class="delta"><%= city.name.upcase %></h4>
                  </div>
                </div>
                <span class="tag registration-closed">Registration Opening Soon</span>
              </a>
            <% end %>

          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</section>