<% if current_user %>
  <div id="topnav-loggedin" class="fixed sticky">
    <ul class="sub-nav small-12 medium-12 large-12 columns">
      <li class="logo" style="margin-top:0.5rem">
        <%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:team), size: "40"),root_path %>
      </li>
      <%# if @city.name == "Toronto" %>
        <!-- <li class="topnav-titles"><a href="#cafe">CAFE</a></li> -->
      <%# end %>
      
      <li class="topnav-titles"><%= link_to 'Admin Dashboard', admin_path(current_user) %></li>
      <li class="topnav-titles"><%= link_to 'Logout', admin_session_path("current"), method: :delete %></li>

      <li style="float:right; margin-top: 0.30rem">
        <a href="<%= @city.eventbrite_page %>" target="_blank">
          <div class="registration-button button medium">
            <span>Webinar Registration</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
<% else %>
  <div class="fixed sticky topnav">
    <ul class="sub-nav small-12 medium-12 large-12 columns large-centered medium-centered small-centered">
      <li class="logo" style="margin-top:0.5rem">
       <%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:team), size: "40"),root_path %>
      </li>
      <%# if @city.name == "Toronto" %>
        <!-- <li class="topnav-titles"><a href="#cafe">CAFE</a></li> -->
      <%# end %>
      
      <li style="float:right; margin-top: 0.30rem">
        <a href="<%= @city.eventbrite_page %>" target="_blank">
          <div class="registration-button button medium">
            <span>WEBINAR REGISTRATION</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
<% end %>

<% if @city.name == "Toronto" || @city.name == "Boston" || @city.name == "New York" || @city.name == "Silicon Valley" || @city.name == "Washington DC" %>

  <%= render 'headnav' %>

  <div class="website-body">
    <% if @city.name == "Toronto" %>
      <div class="row">
        <div class="columns small-12 medium-12 large-12">
          <div id="<%= @city.name.downcase.split(" ").join %>-background-img">
            <div class="row">
              <div class="hero-text small-12 medium-12 large-12 columns text-center">
                <h1>#PakathonTO | OCTOBER 2<span style="font-size:1.5rem; vertical-align:top;">ND</span> - 4<span style="font-size:1.5rem; vertical-align:top;">TH</span></h1>
                <!-- <h4 class="hero-copy-text"><%#= @city.hero_copy %></h4> -->
                <h3 class="video-action"><%= image_tag(Logo.find_by(name:"play-button-red").image_url(:team), size:"60") %> ENGAGING THE WORLD TO RESHAPE PAKISTAN</h3>
                <h3 class="video-action-on-hover">WATCH THE VIDEO</h3>
              </div>
              <div class="video-action-on-click large-10 columns large-centered">
                <iframe width="1400" height="500" src="https://www.youtube.com/embed/RqfYtAHHFJk?autohide=1&color=white&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="large-12 columns">
            <div id="<%= @city.name.downcase.split(" ").join %>-background-img">
              <div class="row">
                <div class="hero-text large-8 columns text-center large-centered">
                  <h1>OCTOBER 2<span style="font-size:1.5rem; vertical-align:top;">ND</span> - 4<span style="font-size:1.5rem; vertical-align:top;">TH</span></h1>
                  <%# if @city.hero_copy.present? %>
                    <!-- <h4><%= @city.hero_copy %></h4> -->
                  <%# end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%# if @city.name == "Toronto" %>
      <!-- <div class="row cafe" style="padding: 3rem" id='cafe'>
        <div class="large-12 columns" style="background-color:rgba(139,199,85,0.5)">
          <div class="row text-center">
            <div class="large-4 columns large-centered">
              <h1 style="border-bottom: 2px solid #8AC654">CAFE</h1>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns text-center">
              <h5 style="font-style:italic; font-weight:bold">Want to learn more about Pakathon and meet the team behind it?</h5>
              <h5> Join us for our first cafe at <span style="font-size:1.5rem; font-weight:bold"><a href="https://www.google.com/maps/preview?q=111+Richmond+St.+W+Suite+5+Toronto,+ON+M5H+2G4" style="font-weight:bold" target="_blank">OneEleven</a></span> on <span style="font-size:1.5rem; font-weight:bold">SEPTEMBER 9th</span> between <span style="font-size:1.5rem; font-weight:bold">6:30PM</span>  and <span style="font-size:1.5rem; font-weight:bold">8:30PM</span></h5>
              <h5>We will be discussing and sharing 10 Ways Technology is Changing Pakistan</h5>
              <BR>
              <div class="large-4 columns text-center large-centered">
                <a href="https://www.eventbrite.ca/e/pakathonto-cafe-tickets-12682386359" target="_blank">
                  <div class="cafe-signup large button">
                    <h3>SIGN UP HERE</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <%# end %>

    <!-- <div id="streams">
      <div class="row streams" style="padding: 3rem">
        <div class="large-12 columns text-center">
          <div class="row text-center">
            <div class="large-4 columns large-centered">
              <h1 style="border-bottom: 2px solid #8AC654">STREAMS</h1>
            </div>
          </div>
          <div class="row">
            <div class="stream large-3 large-centered columns">
              <h4>EDUCATION</h4>
            </div>
            <div class="stream large-3 large-centered columns">
              <h4>HEALTH</h4>
            </div>
            <div class="stream large-3 large-centered columns">
              <h4>RETAIL</h4>
            </div>
          </div>
          <% if @city.name == "Toronto" %>
            <div class="row">
              <div class="stream large-3 large-centered columns">
                <h4>ENERGY</h4>
              </div>
              <div class="stream large-3 large-centered columns">
                <h4>HUMAN RIGHTS</h4>
              </div>
              <div class="stream large-3 large-centered columns">
                <h4>HOUSING</h4>
              </div>
            </div>
          <% elsif @city.name == "Boston" %>
            <div class="row">
              <div class="stream large-3 large-centered columns">
                <h4>INCLUSIVENESS</h4>
              </div>
              <div class="stream large-3 large-centered columns">
                <h4>BROKEN SYSTEMS</h4>
              </div>
              <div class="stream large-3 large-centered columns">
                <h4>SECURITY</h4>
              </div>
            </div>
            <div class="row">
              <div class="stream large-3 large-centered columns">
                <h4>BITCOINS, E-COMMERCE and MOBILE BANKING</h4>
              </div>
            </div>
          <% elsif @city.name == "New York" %>
            <div class="row">
              <div class="stream large-3 large-centered columns">
                <h4>HUMAN RIGHTS</h4>
              </div>
              <div class="stream large-3 large-centered columns">
                <h4>FINANCE</h4>
              </div>
            </div>
          <% elsif @city.name == "Silicon Valley" %>
            <div class="row">
              <div class="stream large-3 large-centered columns">
                <h4>ENERGY</h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> -->

    <!-- <div id="location">
      <div class="row location" style="padding: 3rem">
        <div class="large-12 columns text-center">
          <div class="row">
            <% if @city.name == "Toronto" %>
              <a href="https://www.google.ca/maps/place/Bitmaker+Labs/@43.6466292,-79.3856308,17z/data=!4m2!3m1!1s0x0:0x38fdb7d96640b4da" class="map-photo" target="_blank">
                <div class="address large-3 columns large-centered text-center">
                  <h3 style="border-bottom: 2px solid #8AC654"><%= @city.building_name.upcase %></h3>
                  <h4><%= @city.address %></h4>
                  <h4><%= @city.name %>, <%= @city.province_name %></h4>
                  <h4><%= @city.postal_code %></h4>
                </div>
              </a>
            <% elsif @city.name == "New York" %>
              <a href="https://www.google.ca/maps/place/New+York+University:+External+Affairs/@40.729901,-73.997716,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2599051b30887:0x97b47bf1e6bc1929" class="map-photo" target="_blank">
                <div class="address large-3 columns large-centered text-center">
                  <h3 style="border-bottom: 2px solid #8AC654"><%= @city.building_name.upcase %></h3>
                  <h4><%= @city.address %></h4>
                  <h4><%= @city.name %>, <%= @city.province_name %></h4>
                  <h4><%= @city.postal_code %></h4>
                </div>
              </a>
            <% elsif @city.name == "Boston" %>
              <a href="https://www.google.ca/maps/place/Impact+Hub+Boston/@42.3567916,-71.0577166,17z/data=!4m5!1m2!2m1!1sImpact+Hub+Boston,+Main+Street,+Cambridge,+MA,+USA!3m1!1s0x89e37084760558db:0xf9145892151372f8" class="map-photo" target="_blank">
                <div class="address large-3 columns large-centered text-center">
                  <h3 style="border-bottom: 2px solid #8AC654"><%= @city.building_name.upcase %></h3>
                  <h4><%= @city.address %></h4>
                  <h4><%= @city.name %>, <%= @city.province_name %></h4>
                  <h4><%= @city.postal_code %></h4>
                </div>
              </a>
            <% elsif @city.name == "Silicon Valley" %>
              <a href="https://www.google.ca/maps/place/Stanford+University/@37.4276742,-122.168807,15z/data=!4m2!3m1!1s0x0:0x29cdf01a44fc687f" class="map-photo" target="_blank">
                <div class="address large-3 columns large-centered text-center">
                  <h3 style="border-bottom: 2px solid #8AC654"><%= @city.building_name.upcase %></h3>
                  <h4><%= @city.address %></h4>
                  <h4><%= @city.name %>, <%= @city.province_name %></h4>
                  <h4><%= @city.postal_code %></h4>
                </div>
              </a>
            <% elsif @city.name == "Washington DC" %>
              <a href="https://www.google.ca/maps/place/Impact+Hub+Boston/@42.3567916,-71.0577166,17z/data=!4m5!1m2!2m1!1sImpact+Hub+Boston,+Main+Street,+Cambridge,+MA,+USA!3m1!1s0x89e37084760558db:0xf9145892151372f8" class="map-photo" target="_blank">
                <div class="address large-3 columns large-centered text-center">
                  <h3 style="border-bottom: 2px solid #8AC654"><%= @city.building_name.upcase %></h3>
                  <h4><%= @city.address %></h4>
                  <h4><%= @city.name %>, <%= @city.province_name %></h4>
                  <h4><%= @city.postal_code %></h4>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="row schedule" style="padding: 3rem">
      <div class="large-12 columns text-center">
        <div id="schedule">
          <div class="row text-center">
            <div class="large-4 columns large-centered">
              <h1 style="border-bottom: 2px solid #8AC654">SCHEDULE</h1>
            </div>
          </div>
          <div class="row">
            <% if @city.name == "Toronto" || @city.name == "Boston" %>
              <div class="schedule-days large-3 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Friday, September 26th</h4>
                <div class="large-12 columns text-left">
                  <h5 style="font-weight: bold">Event starts with dinner at 5:30pm.</h5>
                  <p><span style="font-weight:bold">6:30pm</span> – City chapters will open with a quick introduction.</p>
                  <p><span style="font-weight:bold">7:00pm</span> – Two keynote speakers.</p>
                  <p><span style="font-weight:bold">7:45pm</span> – Mentors introduce themselves for 2 minute.</p>
                  <p>After <span style="font-weight:bold">60 minutes</span> of brainstorming, team leads take the podium and pitch their ideas and have one last chance to recruit team members. All ideas should be registered by the end of the night.</p>
                </div>
              </div>
              <div class="schedule-days large-3 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Saturday, September 27th</h4>
                <div class="large-12 columns text-left">
                  <h5 style="font-weight: bold">Mentors will block out sessions to skype with participants from different cities.</h5>
                  <p><span style="font-weight:bold">10:00am</span> – Breakfast will be served.</p>
                  <p><span style="font-weight:bold">1:00pm</span> – Lunch will be served.</p>
                  <p><span style="font-weight:bold">5:30pm </span> – Dinner will be served.</p>
                  <p>People will work on their projects throughout the day.</p>
                  <p>There will be breakout sessions throughout the day with mentors or speakers.</p>
                  <p>Each team will have to pick the main city where they will be pitching from.</p>
                </div>
              </div>
              <div class="schedule-days large-3 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Sunday, September 28th</h4>
                <div class="large-12 columns text-left">
                  <h5 style="font-weight: bold">Teams will get to finalize their pitches and project videos during the day.</h5>
                  <p><span style="font-weight:bold">10:00am</span> – Each of the cities will have judging and will nominate the best team from their city. This team will then send a video or skype in, for the final round of global winners to be announced from Boston</p>
                  <p>Each team will post their blog to the Pakathon facebook page before they can pitch to judges.</p>
                  <p><span style="font-weight:bold">6:00pm</span> – Results are announced.</p>
                  <p>Contestants will have a chance to mingle at the end.</p>
                </div>
              </div>
            <% elsif @city.name == "New York" %>
              <div class="schedule-days large-3 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Friday, September 26th</h4>
                <div class="large-12 columns text-left">
                  <p><span style="font-weight:bold">6:00pm</span> – Dinner and meet-and-greet</p>
                  <p><span style="font-weight:bold">7:00pm</span> – Pakathon NYC kick-off with a quick introduction.</p>
                  <p><span style="font-weight:bold">7:30pm</span> – Keynote speaker.</p>
                  <p><span style="font-weight:bold">8:00pm</span> – Brainstorming and break-out sessions.</p>
                  <p><span style="font-weight:bold">9:00pm</span> – After 60 minutes of brainstorming within track breakouts, teams will form and take the podium to pitch their ideas. Last chance to recruit team members.</p>
                  <p><span style="font-weight:bold">10:00pm</span> – Teams meet/greet and register their ideas. All ideas should be registered by the end of the night.</p>
                </div>
              </div>
              <div class="schedule-days large-4 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Saturday, September 27th</h4>
                <div class="large-12 columns text-left">
                  <h5 style="font-weight: bold">People will work on their projects throughout the day.</h5>
                  <p><span style="font-weight:bold">9:00am</span> – Teams work on their ideas (Note: Breakfast will be provided).</p>
                  <p><span style="font-weight:bold">12:00pm</span> – Lunch.</p>
                  <p><span style="font-weight:bold">1:00pm</span> – Mentor hours until <span style="font-weight:bold">4:00pm</span>.</p>
                  <p><span style="font-weight:bold">4:00pm</span> – Snack break.</p>
                  <p><span style="font-weight:bold">6:00pm</span> – Dinner.</p>
                  <p><span style="font-weight:bold">7:00pm</span> – Teams continue working on their ideas.</p>
                  <p><span style="font-weight:bold">11:00pm</span> – Working space closes (Teams can continue work at their own locations).</p>
                </div>
              </div>
              <div class="schedule-days large-4 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Sunday, September 28th</h4>
                <div class="large-12 columns text-left">
                  <h5 style="font-weight: bold">Teams will get to finalize their pitches and project videos during the day.</h5>
                  <p><span style="font-weight:bold">10:00am</span> – Teams finish working on their pitches (Note: Breakfast will be provided).</p>
                  <p><span style="font-weight:bold">11:00am</span> – Pitch coaches available until <span style="font-weight:bold">1:00pm</span>.</p>
                  <p><span style="font-weight:bold">12:00pm</span> – Lunch.</p>
                  <p><span style="font-weight:bold">12:30pm</span> – Project videos and pitches due.</p>
                  <p><span style="font-weight:bold">1:00pm</span> – Intro to Judges and Speaker.</p>
                  <p><span style="font-weight:bold">1:30pm</span> – Pitches Round 1.</p>
                  <p><span style="font-weight:bold">3:00pm</span> – Pitches Round 2 for shortlisted ideas.</p>
                  <p><span style="font-weight:bold">4:00pm</span> – Results are announced and networking.</p>
                </div>
              </div>
            <% elsif @city.name == "Silicon Valley" %>
              <div class="schedule-days large-5 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Friday, September 26th</h4>
                <div class="large-12 columns text-left">
                  <p><span style="font-weight:bold">5:00pm</span> – Doors Open.</p>
                  <p><span style="font-weight:bold">6:00pm</span> – Kick-off with PakathonSV Team introductions.</p>
                  <p><span style="font-weight:bold">6:20pm</span> – Guest Speaker #1: <span style="font-weight:bold">Noor Siddiqui</span></p>
                  <p><span style="font-weight:bold">6:35pm</span> – Guest Speaker #1: <span style="font-weight:bold">Noman Ali</span></p>
                  <p><span style="font-weight:bold">6:50pm</span> – Dinner is served.</p>
                  <p><span style="font-weight:bold">8:00pm</span> – Virtual Mentors introductions and short talks.</p>
                  <p><span style="font-weight:bold">9:00pm</span> – Brainstorming and break-out sessions.</p>
                  <p><span style="font-weight:bold">10:00pm</span> – After 60 minutes of brainstorming within track breakouts, teams will form and take the podium to pitch their ideas. Last chance to recruit team members.</p>
                  <p><span style="font-weight:bold">10:30pm</span> – Team lists created.</p>
                </div>
              </div>
              <div class="schedule-days large-3 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Saturday, September 27th</h4>
                <div class="large-12 columns text-left">
                  <p><span style="font-weight:bold">9:00am</span> – Doors Open. Breakfast is served.</p>
                  <p><span style="font-weight:bold">9:30am</span> – Mentor Introductions.</p>
                  <p><span style="font-weight:bold">9:45am</span> – Hacking begins.</p>
                  <p><span style="font-weight:bold">11:30am</span> – Code for Pakistan presentation.</p>
                  <p><span style="font-weight:bold">12:30pm</span> – Lunch is served.</p>
                  <p><span style="font-weight:bold">1:30pm</span> – Hacking resumes.</p>
                  <p><span style="font-weight:bold">9:00pm</span> – Working space closes (Teams can continue work at their own locations).</p>
                </div>
              </div>
              <div class="schedule-days large-3 large-centered columns">
                <h4 style="text-align:center; border-bottom: 2px solid #8AC654">Sunday, September 28th</h4>
                <div class="large-12 columns text-left">
                  <p><span style="font-weight:bold">10:00am</span> – Teams continue working on their projects and finish working on their pitches.</p>
                  <p><span style="font-weight:bold">1:30pm</span> – Introduction to Judges.</p>
                  <p><span style="font-weight:bold">2:00pm</span> – Pitches: <span style="font-weight:bold">3mins (pitch) and 2mins (Q&A)</span>.</p>
                  <p><span style="font-weight:bold">3:30pm</span> – Results are announced.</p>
                  <p><span style="font-weight:bold">4:00pm</span> – Winning team videos and networking.</p>
                  <p><span style="font-weight:bold">4:30pm</span> – Wrap up.</p>
                </div>
              </div>
            <% else %>
              <h4>Hold your horses! Schedule will be up soon.</h4>
            <% end %>
          </div>
        </div>
      </div>
    </div> -->

   <!--  <div class="row team-to" style="padding: 3rem" id='team-to'>
      <div class="large-12 columns">

        <div class="row">
          <div class="row text-center">
            <div class="large-4 columns large-centered">
              <% if @city.name == "Toronto" %>
                <h1 style="border-bottom: 2px solid #8AC654">#PakathonTO</h1>
              <% elsif @city.name == "Boston" %>
                <h1 style="border-bottom: 2px solid #8AC654">#PakathonBO</h1>
              <% elsif @city.name == "New York" %>
                <h1 style="border-bottom: 2px solid #8AC654">#PakathonNYC</h1>
              <% elsif @city.name == "Silicon Valley" %>
                <h1 style="border-bottom: 2px solid #8AC654">#PakathonSV</h1>
              <% elsif @city.name == "Washington DC" %>
                <h1 style="border-bottom: 2px solid #8AC654">#PakathonDC</h1>
              <% end %>
            </div>
            <h5 style="text-align:center; font-style:italic; color:#678"><%= @city.team_description %></h5>
          </div>
          <div class="large-12 columns text-center">
            <% @city.team_members.sort_by {|member| member[:name]}.each do |team_member| %>
              <div class="team-member-tile large-2 columns large-centered text-center">
                <div class="team-member-initial-details">
                  <% if team_member.avatar.present? %>
                    <%= image_tag team_member.avatar_url(:team), :class => "img-circle" %>
                  <% else %>
                    <img class="img-circle" src="http://placehold.it/200x200&text=Gone For A Stroll" />
                  <% end %>
                  <div class="team-member-name">
                    <span style="font-weight:bold"><%= team_member.name %></span>
                  </div>
                </div>
                <div class="team-member-sharing large-12 columns large-centered">
                  <div class="large-6 columns" style="display:inline-block">
                    <% if team_member.twitter.present? %>
                    <%= link_to image_tag(Logo.find_by(name:"twitter_logo").image_url(:logo)), team_member.twitter, target: "_blank" %> 
                  <% end %>
                  </div>
                  <div class="large-6 columns" style="display:inline-block">
                    <% if team_member.linkedin.present? %>
                      <%= link_to image_tag(Logo.find_by(name:"linkedin-logo").image_url(:logo)), team_member.twitter, target: "_blank" %> 
                    <% end %>
                  </div>
                </div>
                <% if team_member.description.present? %>
                  <div class="large-12 columns text-left team-member-description">
                    <p><%= team_member.description %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <% if @city.judges.present? %>
            <div class="large-12 columns">
              <div class="row text-center">
                <div class="large-6 columns large-centered">
                  <h1 style="border-bottom: 2px solid #8AC654">Judges and Speakers</h1>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns text-center end">
                  <% @city.judges.sort_by {|member| member[:name]}.each do |judge| %>
                    <div class="judge-tile large-2 columns large-centered text-center">
                      <div class="judge-initial-details">
                        <% if judge.avatar.present? %>
                          <%= image_tag judge.avatar_url(:team), :class => "img-circle" %>
                        <% else %>
                          <img class="img-circle" src="http://placehold.it/200x200&text=Gone For A Stroll" />
                        <% end %>
                        <div class="judge-name">
                          <span style="font-weight:bold"><%= judge.name %></span>
                        </div>
                      </div>
                      <div class="large-12 columns text-center judge-description">
                        <p><%= judge.description %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <br>
            </div>
          <% end %>
        </div>

        <div class="row">
          <% if @city.mentors.present? %>
            <div class="large-12 columns end">
              <div class="row text-center">
                <div class="large-4 columns large-centered">
                  <h1 style="border-bottom: 2px solid #8AC654">Mentors</h1>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns text-center">
                  <% @city.mentors.sort_by {|member| member[:name]}.each do |team_member| %>
                    <div class="team-member-tile large-2 columns large-centered text-center">
                      <div class="team-member-initial-details">
                        <% if team_member.avatar.present? %>
                          <%= image_tag team_member.avatar_url(:team), :class => "img-circle" %>
                        <% else %>
                          <img class="img-circle" src="http://placehold.it/200x200&text=Gone For A Stroll" />
                        <% end %>
                        <div class="team-member-name">
                          <span style="font-weight:bold"><%= team_member.name %></span>
                        </div>
                      </div>
                      <% if team_member.description.present? %>
                        <div class="large-12 columns text-left team-member-description">
                          <p><%= team_member.description %></p>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <br>
              </div>
            </div>
          <% end %>
        </div>

        <div class="row">
          <% if @city.sponsors.present? %>
            <div class="large-12 columns end">
              <div class="row text-center">
                <div class="large-4 columns large-centered">
                  <h1 style="border-bottom: 2px solid #8AC654">Partners</h1>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns text-center">
                  <% @city.sponsors.each do |sponsor| %>
                    <div class="sponsor-img large-2 columns large-centered text-center">
                      <%= link_to image_tag(sponsor.avatar_url), sponsor.description, target: "_blank" %>
                    </div>
                  <% end %>
                </div>
              <br>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> -->

    <!-- <div class="row faq" style="padding:3rem">
      <div class="large-12 columns text-center">
        <div id="faq">
          <div class="row">
            <div class="large-3 columns large-centered">
              <h1 style="border-bottom: 2px solid #8AC654">FAQs</h1>
            </div>
          </div>
          <div class="row">
            <div class="each-faq large-4 columns text-left">
              <h4 style="text-align:center">What is a Hackathon?</h4>
              <div class="large-12 columns">
                <p>A Hackathon is an event where people come together for an intense and fun weekend of collaborative problem solving and rapid prototyping of ideas.</p>
              </div>
            </div>
            <div class="each-faq large-4 columns text-left">
              <h4 style="text-align:center">Is Pakathon for me?</h4>
              <div class="large-12 columns">
                <p>Pakathon events have something for everyone. Engineers, business professionals, designers, researchers all have something to contribute. We believe interdisciplinary and global collaboration is one of our most powerful tools for change. Pakathon is for Pakistanis and non-Pakistanis alike.</p>
              </div>
            </div>
            <div class="each-faq large-4 columns text-left">
              <h4 style="text-align:center">Why should I attend Pakathon?</h4>
              <div class="large-12 columns">
                <p>Pakathon will bring together some of the smartest minds in <%= @city.name %> to tackle social issues in Pakistan. It is the perfect way to spend your weekend to create social impact projects while networking with the <%= @city.name %> tech community. The winning team from <%= @city.name %> will participate in the global Pakathon event for prizes of up to $10,000.</p>
              </div>
            </div>
            <div class="each-faq large-4 columns text-left">
              <h4 style="text-align:center">How do I form a team for Pakathon?</h4>
              <div class="large-12 columns">
                <p>Pakathon’s opening event on Fri, September 26 will dedicate time to idea generation and individuals will organically coalesce towards strong ideas and create teams. In addition, you are welcome to get a head start by connecting with other participants through <%= link_to "Pakathon #{@city.name} Facebook Page", @city.facebook %> or contacting the Pakathon <%= @city.name %> team: <%= @city.email %>.</p>
              </div>
            </div>
            <div class="each-faq large-4 columns text-left">
              <h4 style="text-align:center">How do I prepare for Pakathon?</h4>
              <div class="large-12 columns">
                <p>Before Pakathon, participants should conduct background research and explore ideas. Consider researching your chosen social track (industry/demographic statistics, current landscape, problem articulation, etc.) or tech-related social initiatives. Also make sure you’re rested up before Pakathon starts!</p>
              </div>
            </div>
            <div class="each-faq large-4 columns text-left">
              <h4 style="text-align:center">What type of support is provided over a Pakathon weekend?</h4>
              <div class="large-12 columns">
                <p>A key part of Pakathon’s support is the valuable advice provided by our Mentors to the teams. Mentors consist of experts ranging from software development, entrepreneurship, industry expertise, and local knowledge of Pakistan who dedicate their time to sharing feedback and guidance to teams.</p>
              </div>
            </div>

            <% if @city.name == "New York" %>
              <div class="each-faq large-4 columns text-left">
                <h4 style="text-align:center">Can I attend Pakathon without participating on a team?</h4>
                <div class="large-12 columns">
                  <p>Yes! A “Final Day Viewing Only” option is available for Sunday, September 28 for those excited to see participants unveil their final demo presentations. Tickets are $10 and can be purchased online at <%= link_to "Eventbrite", @city.eventbrite_page %>.</p>
                </div>
              </div>
            <% end %>
            <% if @city.name == "Toronto" %>
              <div class="each-faq large-4 columns text-left">
                <h4 style="text-align:center">What are my transport/parking options getting to the event?</h4>
                <div class="large-12 columns">
                  <p>Take the subway to St. Andrews station and walk a couple of blocks west on King street.</p>
                </div>
              </div>
              <div class="each-faq large-4 columns text-left">
                <h4 style="text-align:center">Are there ID requirements or an age limit to enter the event?</h4>
                <div class="large-12 columns">
                  <p>Students may be asked to provide an ID card if their school e-mail address is not used to register.</p>
                </div>
              </div>
            <% end %>

            <div class="each-faq large-4 columns text-left">
              <h4 style="text-align:center">What should I bring to Pakathon?</h4>
              <div class="large-12 columns">
                <ul>Bring the following items to Pakathon: 
                  <li>Laptop</li>
                  <li>Power cord</li>
                  <li>Business cards</li>
                  <li>Camera – take pictures and video!</li>
                  <li>Lots of creative energy!</li>
                </ul>
              </div>
            </div>
            <div class="each-faq large-4 columns text-left">
              <h4 style="text-align:center">How can I get involved with Pakathon <%= @city.name %>?</h4>
              <div class="large-12 columns">
                <p>Pakathon <%= @city.name %> is looking for passionate individuals committed to leveraging tech to build social impact projects for Pakistan. If this sounds like you, then please contact our team at: <%= @city.email %>. We look forward to hearing from you!</p>
              </div>
            </div>
            <% if @city.name != "New York" %>
              <div class="each-faq large-4 columns text-left end">
                <h4 style="text-align:center">Where can I contact the organizer with any questions?</h4>
                <div class="large-12 columns text-center">
                  <h4 style="color:#8AC654">
                    <%= @city.email %><br>
                    <%#= @city.phone %>
                  </h4>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row support-section" style="padding: 3rem" id='support'>
      <div class="small-12 medium-6 large-6 columns text-center">
        <div class="row text-center">
          <div class="small-12 medium-12 large-12 columns text-center">
            <!-- <h2>CONNECT</h2> -->
            <h5 style="font-style:italic">A conversation worth having. Let's talk.<br></h5>
          </div>
        </div>
          <div class="row">
            <div id="phone" class="small-12 medium-12 large-12 columns text-center">
              <p><%= @city.email %></p>
            </div>
          </div>
          <div class="row">
            <div class="small-6 medium-6 large-6 columns text-center">
              <a href="<%= @global.facebook %>" target="_blank">
                <div id="facebook">
                  <% if @city.facebook.present? %>
                    <%= link_to image_tag(Logo.find_by(name:"facebook_logo").image_url(:team), size: "60"), @city.facebook, target: "_blank" %>
                  <% else %>
                    <%= link_to image_tag(Logo.find_by(name:"facebook_logo").image_url(:team), size: "60"), @global.facebook, target: "_blank" %>
                  <% end %>
                </div>
              </a>
            </div>

            <div class="small-6 medium-6 large-6 columns text-center end">
              <div id="twitter">
                <% if @city.twitter.present? %>
                  <%= link_to image_tag(Logo.find_by(name:"twitter_logo").image_url(:team), size: "60"), @city.twitter, target: "_blank" %>
                <% else %>
                  <%= link_to image_tag(Logo.find_by(name:"twitter_logo").image_url(:team), size: "60"), @global.twitter, target: "_blank" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="small-12 medium-6 large-6 columns text-center">
        <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form action="//pakathon.us9.list-manage.com/subscribe/post?u=ad8b8f5d43cbae3d83d1dbe5e&amp;id=42c988d66c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="text-center">
                <label for="mce-EMAIL">Subscribe to our mailing list</label>
                <div class="email-field">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;">
                  <input type="text" name="b_ad8b8f5d43cbae3d83d1dbe5e_42c988d66c" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="large-10 large-centered text-center columns">
      <h2>Oops. Sorry this page does not exist.</br> Click here to return to the main website - <a href="http://www.pakathon.org/">Pakathon</a></h2>
    </div>
  </div>
<% end %>

