<% if current_user %>
  <div id="topnav-loggedin" class="fixed" data-magellan-expedition="fixed">
    <dl class="sub-nav large-10 large-offset-1 columns large-centered">
      <dd data-magellan-arrival="homepage">
        <%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:logo)), root_path, :class=>"topnav-titles" %>
      </dd>
      <dd data-magellan-arrival="streams"><a href="#streams" class="topnav-titles">STREAMS</a></dd>
      <dd data-magellan-arrival="location"><a href="#location" class="topnav-titles">LOCATION</a></dd>
      <dd data-magellan-arrival="schedule"><a href="#schedule" class="topnav-titles">SCHEDULE</a></dd>
      <% if @city.name == "Toronto" %>
        <dd data-magellan-arrival="cafe"><a href="#cafe" class="topnav-titles">CAFE</a></dd>
      <% end %>
      <dd data-magellan-arrival="team-to"><a href="#team-to" class="topnav-titles">TEAM <%= @city.name.upcase %></a></dd>
      <dd data-magellan-arrival="faq"><a href="#faq" class="topnav-titles">FAQs</a></dd>
      <dd data-magellan-arrival="support"><a href="#support" class="topnav-titles">SUPPORT</a></dd>
      <dd data-magellan-arrival="admin-dashboard"><%= link_to 'Admin Dashboard', admin_path(current_user), :class=>"topnav-titles" %></dd>
      <dd data-magellan-arrival="logout"><%= link_to 'Logout', admin_session_path("current"), method: :delete, :class=>"topnav-titles" %></dd>
    </dl>
  </div>
<% else %>
  <div id="topnav" class="fixed" data-magellan-expedition="fixed">
    <dl class="sub-nav large-8 large-offset-2 columns large-centered">
      <dd data-magellan-arrival="homepage">
       <%= link_to image_tag(Logo.find_by(name:"pakathon globe").image_url(:logo)), root_path, :class=>"topnav-titles" %>
      </dd>
      <dd data-magellan-arrival="streams"><a href="#streams" class="topnav-titles">STREAMS</a></dd>
      <dd data-magellan-arrival="location"><a href="#location" class="topnav-titles">LOCATION</a></dd>
      <dd data-magellan-arrival="schedule"><a href="#schedule" class="topnav-titles">SCHEDULE</a></dd>
      <% if @city.name == "Toronto" %>
        <dd data-magellan-arrival="cafe"><a href="#cafe" class="topnav-titles">CAFE</a></dd>
      <% end %>
      <dd data-magellan-arrival="team-to"><a href="#team-to" class="topnav-titles">TEAM <%= @city.name.upcase %></a></dd>
      <dd data-magellan-arrival="faq"><a href="#faq" class="topnav-titles">FAQs</a></dd>
      <dd data-magellan-arrival="support"><a href="#support" class="topnav-titles">SUPPORT</a></dd>
    </dl>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <div id="<%= @city.name.downcase %>-background-img">
      <div class="row">
        <div class="hero-text large-8 columns text-center large-centered">
          <h1>SEPTEMBER 26<span style="font-size:1.5rem; vertical-align:top;">TH</span> - 28<span style="font-size:1.5rem; vertical-align:top;">TH</span></h1>
          <h4><%= @city.hero_copy %></h4>
        </div>
        <div class="large-6 columns text-center large-centered">
          <a href="<%= @city.eventbrite_page %>" target="_blank">
            <div class="signup-btn button">
              <h1>REGISTER HERE</h1>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-magellan-destination='streams' id="streams">
  <div class="row streams" style="padding: 3rem">
    <div class="large-12 columns text-center">
      <h1 style="background-color:#43ac6a">STREAMS</h1>
      <div class="row">
        <div class="large-4 columns">
          <h2 style="color:#43ac6a">EDUCATION</h2>
        </div>
        <div class="large-4 columns">
          <h2 style="color:#43ac6a">HEALTH</h2>
        </div>
        <div class="large-4 columns">
          <h2 style="color:#43ac6a">RETAIL</h2>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <h2 style="color:#43ac6a">ENERGY</h2>
        </div>
        <div class="large-4 columns">
          <h2 style="color:#43ac6a">HUMAN RIGHTS</h2>
        </div>
        <div class="large-4 columns">
          <h2 style="color:#43ac6a">HOUSING</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-magellan-destination='location' id="location">
  <div class="row location" style="padding: 3rem">
    <div class="large-12 columns text-center">
      <h1 style="background-color:#43ac6a">LOCATION</h1>
    </div>
    <div class="row">
      <a href="https://www.google.ca/maps/place/Bitmaker+Labs/@43.6466292,-79.3856308,17z/data=!4m2!3m1!1s0x0:0x38fdb7d96640b4da" target="_blank">
        <%= image_tag Logo.find(2).image_url(:banner) %>
      </a>
    </div>
  </div>
</div>

<div class="row schedule" style="padding: 3rem">
  <div class="large-12 columns">
    <div data-magellan-destination='schedule' id="schedule">
      <div class="row text-center">
        <div class="large-12 columns">
          <h1 style="background-color:#43ac6a">SCHEDULE</h1>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <h4 style="text-align:center">Friday, September 26th</h4>
          <div class="large-11 large-offset-1 columns">
            <h5 style="font-weight: bold">Event starts with dinner at 5:30pm.</h5>
            <p><span style="font-weight:bold">6:30pm</span> – City chapters will open with a quick introduction.</p>
            <p><span style="font-weight:bold">7:00pm</span> – Two keynote speakers.</p>
            <p><span style="font-weight:bold">7:45pm</span> – Mentors introduce themselves for 2 minute.</p>
            <p>After <span style="font-weight:bold">60 minutes</span> of brainstorming, team leads take the podium and pitch their ideas and have one last chance to recruit team members. All ideas should be registered by the end of the night.</p>
          </div>
        </div>
        <div class="large-4 columns">
          <h4 style="text-align:center">Saturday, September 27th</h4>
          <div class="large-11 large-offset-1 columns">
            <h5 style="font-weight: bold">Mentors will block out sessions to skype with participants from different cities.</h5>
            <p><span style="font-weight:bold">10:00am</span> – Breakfast will be served.</p>
            <p><span style="font-weight:bold">1:00pm</span> – Lunch will be served.</p>
            <p><span style="font-weight:bold">5:30pm </span> – Dinner will be served.</p>
            <p>People will work on their projects throughout the day.</p>
            <p>There will breakout sessions throughout the day with mentors or speakers.</p>
            <p>Each team will have to pick the main city where they will be pitching from.</p>
          </div>
        </div>
        <div class="large-4 columns">
          <h4 style="text-align:center">Sunday, September 28th</h4>
          <div class="large-11 large-offset-1 columns">
            <p><span style="font-weight:bold">10:00am</span> – Each of the cities will have judging and will nominate the best team from their city. This team will then send a video or skype in, for the final round of global winners to be announced from Boston</p>
            <p>Each team will post their blog to the Pakathon facebook page before they can pitch to judges.</p>
            <p><span style="font-weight:bold">6:00pm</span> – Results are announced.</p>
            <p>Contestants may mingle at the end.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @city.name == "Toronto" %>
  <div class="row cafe" style="padding: 3rem" data-magellan-destination='cafe' id='cafe'>
    <div class="large-12 columns">
      <div class="row text-center">
        <div class="large-12 columns">
          <h1 style="background-color:#43ac6a">CAFE</h1>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns text-center">
          <h5 style="font-style:italic; font-weight:bold">Want to learn more about Pakathon and meet the team behind it?</h5>
          <h5> Join us for our first cafe at <a href="https://www.google.com/maps/preview?q=111+Richmond+St.+W+Suite+5+Toronto,+ON+M5H+2G4" style="font-weight:bold" target="_blank">OneEleven</a> on September 9th, 2014 between 6:30pm  and 8:30pm</h5>
          <h5>We will be discussing and sharing 10 Ways Technology is Changing Pakistan.</h5>
          <BR>
          <div class="large-4 columns text-center large-centered">
            <a href="<%= "#" %>" target="_blank">
              <div class="cafe-signup large button">
                <h3>SIGN UP HERE</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row team-to" style="padding: 3rem" data-magellan-destination='team-to' id='team-to'>
  <div class="large-12 columns">
    <div class="row text-center">
      <div class="large-12 columns large-centered">
        <h1 style="background-color:#43ac6a">TEAM <%= @city.name.upcase %></h1>
        <h5 style="text-align:center; font-style:italic; color:#678">The PakathonTO team is a group of young professionals, technology enthusiasts and big thinkers residing in Toronto. Working with like-minded people across the world, we are working hard to make PakathonTO happen. Our goal is to create a platform to catalyze collaborations and inspire individuals to work on start-up projects that have a sustainable social impact in Pakistan.</h5>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center">
        <% @city.team_members.sort_by {|member| member[:name]}.each do |team_member| %>
          <div class="large-3 columns text-center end">
            <% if team_member.avatar.present? %>
              <%= image_tag team_member.avatar_url(:team), :class => "img-circle" %>
            <% else %>
              <img class="img-circle" src="http://placehold.it/200x200&text=Img" />
            <% end %>
            <p>
              <span style="font-weight:bold"><%= team_member.name %></span>
              <br>
              <span style="font-style:italic"><%= team_member.description %></span>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row faq" style="padding:3rem; background-color:rgba(67,172,106,0.5)">
  <div class="large-12 columns">
    <div data-magellan-destination='faq' id="faq">
      <div class="row text-center">
        <div class="large-12 columns">
          <h1 style="background-color:#43ac6a">FAQs</h1>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <h4 style="text-align:center">What is a Hackathon?</h4>
          <div class="large-12 columns">
            <p>A Hackathon is an event where people come together for an intense and fun weekend of collaborative problem solving and rapid prototyping of ideas.</p>
          </div>
        </div>
        <div class="large-3 columns">
          <h4 style="text-align:center">Are there ID requirements or an age limit to enter the event?</h4>
          <div class="large-12 columns">
            <p>Students may be asked to provide an ID card if their school e-mail address is not used to register.</p>
          </div>
        </div>
        <div class="large-3 columns">
          <h4 style="text-align:center">What are my transport/parking options getting to the event?</h4>
          <div class="large-12 columns">
            <p>Take the subway to St. Andrews station and walk a couple of blocks west on King street.</p>
          </div>
        </div>
        <div class="large-3 columns">
          <h4 style="text-align:center">Where can I contact the organizer with any questions?</h4>
          <div class="large-12 columns text-center">
            <h4 style="color:#43ac6a">pakathonTO@gmail.com</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row support" style="padding: 3rem" data-magellan-destination='support' id='support'>
  <div class="large-12 columns">
    <div class="row text-center">
      <div class="large-6 columns text-center">
        <h1 style="color:white">SUPPORT</h1>
        <h5 style="font-style:italic; color:white">We are a group of passionate people putting in all the hours we have to make our vision a reality. For some of us this means juggling two jobs, for others studying in school during the day and working on Pakathon nights and weekends.</h5>
        <h5 style="font-style:italic; color:white">We need your help to support our events and our entrepreneurs. We ask you not to donate in the traditional sense but to think of this as a partnership and become part of our mission.</h5>
        <br>
        <a href="https://pakathon.wufoo.com/forms/pakathon-sponsorship-form/" style="color:white" target="_blank">
          <div class="large button success">
            I WANT TO HELP
          </div>
        </a>
      </div>
      <div class="large-6 columns text-center">
        <h1 style="color:white">SOCIAL IMPACT</h1>
        <h5 style="font-style:italic; color:white">A conversation worth having.<br>
          Let's talk.
        </h5>
        <div class="row">
          <div class="large-6 large-centered columns text-center">
            <a href="<%= @global.facebook %>" target="_blank">
              <div id="facebook" class="large button success" style="width:5rem; height:5rem; border-radius:50%">
                <span style="color:white; font-size:2.25rem">f</span>
              </div>
            </a>
            <a href="<%= @city.twitter %>" target="_blank">
              <div id="twitter" class="large button success" style="width:5rem; height:5rem; border-radius:50%">
                <span style="color:white; font-size:2.25rem">t</span>
              </div>
            </a>
            <div id="phone" class="large button success" style="height:4rem">
              <p style="color:white"><%= @city.phone %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

