<!DOCTYPE html>
<html>
<head>
  <title>Pakathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <div id="navbar">
    <% if current_user %>
      <%= link_to 'Admin Dashboard', admin_path(current_user) %>
      <%= link_to 'Logout', admin_session_path("current"), method: :delete %>
    <% end %>
  </div>

  <div class = "flash">
    <% if flash[:notice] %>
      <div class="alert" id = "notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert" id = "alert"><%= flash[:alert] %></div>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
