<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pakathon</title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag(Logo.find_by(name:"logo-light").image_url(:logo)) %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if current_user %>
    <%= render 'layouts/logged_in_header' %>
  <% end %>

  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12">
      <% if flash[:notice] %>
        <div data-alert class="alert-box success radius" id="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div data-alert class="alert-box alert radius" id="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>
  
  <%= yield %>
  
  <%= render 'layouts/footer' %>
  <%= render 'layouts/drawer_nav' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>