<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pakathon</title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <div data-magellan-expedition="fixed">
      <dl class="sub-nav large-12 columns">
        <dd data-magellan-arrival="admin-dashboard"><%= link_to 'Admin Dashboard', admin_path(current_user) %></dd>
        <dd data-magellan-arrival="logout"><%= link_to 'Logout', admin_session_path("current"), method: :delete %></dd>
      </dl>
    </div>
  <% else %>
    <div data-magellan-expedition="fixed">
      <dl class="sub-nav large-12 columns">
        <dd data-magellan-arrival="homepage"><%= link_to 'Home', root_path %></dd>
      </dl>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <% if flash[:notice] %>
        <div data-alert class="alert-box success radius" id="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div data-alert class="alert-box alert radius" id="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>

</body>
</html>