<!DOCTYPE html>
<html>
<head>
  <title>Pakathon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="navbar">
    <% if current_user %>
      <%= link_to 'Logout', admin_session_path("current"), method: :delete %>
    <% end %>
  </div>

  <div class = "flash">
    <% if flash[:notice] %>
      <div class="alert" id = "notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert" id = "alert"><%= flash[:alert] %></div>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
